body{
  background-color: #120e31 !important;
}
nav.greedy button,
.navbar-toggler{
  outline: none;
}
nav.greedy button::after{
	margin-right: 0;
}
.navbar-brand{
	padding-top: 1rem; padding-bottom: 1rem;
}
#mainNav .container{
  padding: 0 15px;
}
.list-categories li,
.nav-item{
  transition: .1s all;
}
.grid-layout{
  grid-auto-rows: minmax(115px, auto);
}
.grid-wrapper{
  margin-bottom: 50px;
}
.list-game{
  position: relative;
}
.grid-layout .list-title {
    margin: 0;
    position: absolute !important; bottom: 0; left: 0; right: 0; top: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    padding-top: 35%;
}
.profile-gamelist{
  padding: 0 65px;
}
.profile-gamelist li{
  vertical-align: middle;
}
.btn-right, .btn-left{
  margin: 0;
}
.fa-chevron-left:before {
  content: "\f053";
  margin-left: -2px;
  margin-right: 2px;
}
.fa-chevron-right:before {
  content: "\f054";
  margin-left: 2px;
  margin-right: -2px;
}
.form-control{
  height: auto;
}

@media (max-width: 992px){
  .navbar-dark .navbar-toggler{
    order: 1;
  }
  .navbar-brand{
    order: 2;
  }
  .user-avatar{
    order: 3;
  }
  .nav-item{
    margin: 0;
  }
  #navb{
    order: 4;
    margin-top: 0;
  }
  .search-bar{
    margin-left: 0 !important;
  }
  .input-group{
    width: 100% !important;
  }
}
@media (max-width: 476px){
  .navbar-brand{
    width: 150px;
    margin: 0;
  }
}




